@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Edit flight number @Model.GetFlightNumber()<h2>
  <form action='/flights/@Model.GetId()' method='post'>
    <label for='flightNumber'>Flight Number: </label>
    <input id='flightNumber' name='flightNumber' type='text' value="@Model.GetFlightNumber()"> <br>
    <label for='departureTime'>Departure Time: </label>
    <input id='departureTime' name='departureTime' type='datetime-local' value="@Model.GetDepartureTime()"> <br>
    <label for='arrivalTime'>Arrival Time: </label>
    <input id='arrivalTime' name='arrivalTime' type='datetime-local' value="@Model.GetArrivalTime()"> <br>
    <label for='airline'>Airline: </label>
    <input id='airline' name='airline' type='text' value="@Model.GetAirline()"> <br>
    <label for='status'>Status: </label>
    <input id='status' name='status' type='text' value="@Model.GetStatus()">
    <br>
    <br>
    <button type='submit'>Edit Flight</button>
  </form>
</div>
