@{
  Layout = "_Layout";
}

<div class="container">
<h1>Flight Details: </h1>

<h2>Flight Number: @Model.GetFlightNumber()</h2>
<h3>Departure Time: @Model.GetDepartureTime()</h3>
<h3>Arrival Time: @Model.GetArrivalTime()</h3>
<h3>Airline: @Model.GetAirline()</h3>
<h3>Status: @Model.GetStatus()</h3><br><br>

<h3><a href='/flights'>View flights</a></h3>


</div>
